span.key {
  /* box-shadow: 0 -10rem 10rem 3rem #f6e5d6, inset 0rem 1rem 2rem #baaf9e;*/
  border: 2px solid #aaa;
  border-radius: 6px;
  padding: 0px 5px;
  background-color: #ccc;
}

.section.level1 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.level1 h1 {
  font-size: 140% !important;
}

.section.level2 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.level2 h2 {
  font-size: 120% !important;
}

.section.level3 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.level3 h3{
  font-size: 110% !important;
}

.table.table-condensed th{
  text-align: center;
}

.figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100% !important;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 0;
}

.figure + .figure {
  margin-top: 20px;
}

div.section + div.section {
  padding-top: 20px !important;
}

.figure + p{
  margin-top: 20px !important;
}

.figure img + p.caption {
  text-align: center;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

.smaller pre.r+pre, .smaller div.collapse.r-code-collapse.in+pre {
  font-size: 75%;
}

blockquote{
  font-size: 100%;
}

div pre code {
  line-height: normal;
}

pre + pre {
  margin-top: -20px;
}

.section pre {
  padding: 0px;
  border-radius: 3px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #282c34;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 1px!important;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
  border: 5px solid #282c34;
}

table {
  overflow-x: scroll;
}

.small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

div.small > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 20px;
}

.large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

div.large > p > img, img.large, div.large > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 20px;
  max-width: 90%;
}

.Large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

div.Large > p > img, img.Large, div.Large > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 20px;
  max-width: 90%;
}

.plotly.js-plotly-plot {
  width: 100%!important;
  margin-bottom: 20px;
}

.three-col-container {
  width: calc(100% - 7px);
  padding-bottom: 20px;
}

.three-col {
  display: inline-block;
  width: 33%!important;
  vertical-align: top;
}

.three-col code {
  font-size: 90%;
}

.three-col.ttle {
  font-weight: bold;
  text-align: center;
}

.REPL div {
  margin-bottom: 1px!important;
}

.REPL div:nth-child(odd) > pre > code {
  border-left: 5px solid green;
}

.REPL div:nth-child(even) > pre > code {
  border-left: 5px solid red;
}

.REPL div:last-child > pre {
  margin-bottom: 12px;
}

div.content > div.highlight {
  margin-bottom: 12px;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

/* for block of numbers */
.hljs-ln-numbers {
    text-align: right;
    color: #CCC;
    border: none!important;
    border-right: 1px solid #CCC!important;
    vertical-align: top;
    padding: 1px!important;
    padding-right: 5px!important;
}

.hljs-ln-code {
    border: none!important;
    padding: 1px!important;
    padding-left: 5px!important;
}

.highlight pre {
  background-color: inherit;
}

.highlight pre > code {
  line-height: 1.5;
  background-color: inherit;
  font-size: 95%;
}